div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

.menu {
    list-style: none;
    background: #ffffff;
    
    
}

.menu li {
    float: left;
    
    padding: 8px 25px;
}

.a {
   color: #000080;
}

